window {
  border: 2px solid #ff0000; 
  border-radius: 0;
  background-color: black;
  color: #ff0000;
  font-family: JetBrains Mono, monospace;
}

#input {
  background-color: black;
  border-radius: 0;
  padding: 6px 10px;
  margin-bottom: 10px;
  color: red;
  font-size: 14px;
  border: 2px solid #ff0000;
}

#input:focus {
  outline: none;
  box-shadow: none;
}

#entry:selected {
  background-color: #ff0000;
  color: black;
}

#text {
  padding: 8px;
}
