* {
  border: none;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.8);
  color: red;
}
window {
  background-image: url("Sand.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}
#clock-label {
  font-family: JetBrainsMono;
  font-size: 64.0px;
  padding: 2px;
}
#unlock-button {
  background: none;
  background-color: black;
  border: 2px solid #ff0000;
  border-radius: 0;
  padding: 4px;
}
#unlock-button:hover {
  background-color: rgba(255, 0, 0, 0.3);
}
#input-field {
  border-radius: 0px;
  background-color: black;
  border: 2px solid #ff0000;
  padding-top: 0px;
  padding-bottom: 0px;
}
#powerbar-box button {
  background: none;
  background-color: black;
  border: 2px solid #ff0000;
  border-radius: 0;
  padding: 4px;
  margin: 4px;
}
#powerbar-box button:hover {
  background-color: rgba(255, 0, 0, 0.3);
}
#input-label {
  font-size: 0px;
}
#window-box infobar {
  background-color: transparent;
}
